/* Global Styles */
body {
    background-color: #f8f9fa;
}

/* Header Styling */
header {
    background-color: #007bff; /* Bootstrap primary color */
}

/* Center the main content */
main {
    text-align: center;
    margin-top: 20px;
}

/* Form Styling */
form {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navbar Brand Styling */
.navbar-brand {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.navbar-brand .fa-comments {
    font-size: 1.8rem;
    margin-right: 10px;
}

/* Navbar Styling */
.navbar-nav {
    margin-left: auto;
}

/* No Messages Styling */
.no-messages {
    color: #888;
    font-style: italic;
    text-align: center;
    margin: 20px 0;
}

/* Chat Container Styling */
#chatContainer {
    display: flex;
    height: 70vh; /* Reduced height */
}

/* Online Friends List Styling */
#onlineFriends {
    width: 25%;
    background-color: #343a40;
    color: white;
    padding: 10px;
    overflow-y: auto;
}

#onlineFriendsList {
    list-style-type: none;
    padding: 0;
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #444;
    border-radius: 5px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 20px;
}

.online {
    background-color: green;
}

.offline {
    background-color: gray;
}

.list-group-item:hover {
    background-color: black;
}

/* Search Box Styling */
#searchBox {
    background-color: #495057;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    color: white;
    margin-bottom: 15px;
}

/* Chat Messages Styling */
#chatMessages {
    width: 50%;
    background-color: white;
    padding: 10px;
    border-left: 1px solid #dee2e6;
    overflow-y: auto;
    position: relative;
}

#usernameDisplay,
#chatHeader {
    font-weight: bold;
    margin-bottom: 10px;
    color: #495057;
}

/* Message Input Container Styling */
#messageInputContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-top: 1px solid #dee2e6;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#messageInput {
    flex: 1;
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    margin-right: 10px;
}

/* Send Button Styling */
.btn-primary {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Message Styling */
.message {
    margin-bottom: 10px;
}

.message.sent {
    text-align: right;
}

.message.received {
    text-align: left;
}

/* Link Styling */
a {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
}

a:hover {
    color: #0056b3;
}

