/* Custom styles for header and body */

/* Header styling */
header {
    background-color: #007bff; /* Bootstrap primary color */
  }
  
  
  /* Center the main content */
  main {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Style the form */
  form {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    font-size: 1.5rem; /* Smaller size for the Chat App text */
    display: flex;
    align-items: center;
  }
  .navbar-brand .fa-comments {
    font-size: 1.8rem; /* Adjust the size of the icon */
    margin-right: 10px;
  }
  .navbar-nav {
    margin-left: auto; /* Align the nav items to the right */
  }

  /* public/styles.css */
.search-results {
  margin-top: 10px;
}

.result-item {
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.result-item:hover {
  background-color: #e9ecef;
}

/* Style for the "Add Friend" button */

